@import '@/styles/base/colors';
@import '@/styles/base/typography';

.title {
  width: fit-content;
  margin: 0 auto 1.5rem;
  animation: rainbow-text-simple-animation-rev .75s ease forwards;
  text-transform: uppercase;
  color: $blue-ribbon;
  background-color: $blue-ribbon;
  background-image: linear-gradient(90deg, $blue-ribbon 0%, $carnation 100%);
  background-repeat: repeat;
  background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
}

.title:hover {
  animation: rainbow-text-simple-animation .75s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }

  40% {
    background-size: 650%;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 350%;
  }
}
