@import '@/styles/base/colors';
@import '@/styles/base/typography';
@import '@/styles/base/mixins';

.button {
  min-width: 8.6875rem;
  padding: .625rem .75rem;
  cursor: pointer;
  transition: .3s ease;
  border: 1px solid $thunder;
  background: $thunder;
  appearance: none;

  &:hover {
    color: $thunder;
    background: transparent;
  }

  @include outline();

  &:active {
    color: $white;
    background: $thunder;
  }
}
