$white: #ffffff;
$thunder: #110c11;
$mine-shaft: #312e2e;
$blue-ribbon: #4343ff;
$nobel: #b3b3b3;
$scorpion: #5c5c5c;
$carnation: #f96d6d;

.thunder {
  color: $thunder;
}

.scorpion {
  color: $scorpion;
}

.mine-shaft {
  color: $mine-shaft;
}

$outline: rgba($blue-ribbon, .5);
