@import 'breakpoints';

$open-sans: 'Open Sans';
$open-sans-bold: 'Open Sans Bold';
$open-sans-extra-bold: 'Open Sans Extra Bold';
$galano-grotesques: 'Galano Grotesque';
$galano-grotesques-bold: 'Galano Grotesque Bold';

@font-face {
  font-family: $open-sans;
  font-weight: 400;
  src: url('../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: $open-sans-bold;
  font-weight: 700;
  src: url('../../assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: $open-sans-extra-bold;
  font-weight: 800;
  src: url('../../assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: $galano-grotesques;
  font-weight: 400;
  src: url('../../assets/fonts/Galano-Grotesque-Medium.ttf') format('truetype');
}

@font-face {
  font-family: $galano-grotesques-bold;
  font-weight: 700;
  src: url('../../assets/fonts/Galano-Grotesque-Bold.ttf') format('truetype');
}

.headline1 {
  color: $thunder;
  font-family: $galano-grotesques;
  font-size: 1.75rem;
  line-height: 1.2;

  @include breakpoint(sm) {
    font-size: 2.25rem;
  }

  @include breakpoint(md) {
    font-size: 2.875rem;
  }
}

.subheadline1 {
  text-transform: uppercase;
  color: $mine-shaft;
  font-family: $open-sans-bold;
  font-size: 1.0625rem;
  line-height: 1.5rem;
}

.subheadline2 {
  text-transform: uppercase;
  color: $white;
  font-family: $galano-grotesques-bold;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.subheadline3 {
  text-transform: uppercase;
  color: $thunder;
  font-family: $open-sans-extra-bold;
  font-size: .75rem;
  line-height: 1rem;
}

.paragraph1 {
  color: $scorpion;
  font-family: $open-sans;
  font-size: 1.0625rem;
  line-height: 1.625rem;
}

.paragraph2 {
  color: $thunder;
  font-family: $galano-grotesques;
  font-size: .875rem;
  line-height: 1rem;
}
